.weatherCard {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.leftSide {
  display: flex;
  align-items: center;
}

img {
  width: 80px;
}

.temp span {
  font-size: 25px;
  font-weight: 600;
}

.details {
  margin-left: 20px;
  font-size: 14px;
  text-align: right;
  text-align: left;
  border-left: 2px dotted black;
  padding-left: 20px;
}

.rightSide {
  text-align: left;
}

.nameCity {
  font-weight: 700;
}

.currentData {
  text-align: center;
}

.currentData svg {
  margin-left: 10px;
  cursor: pointer;
}
